/* css de l'application */

.topPanel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  background-color: #669999;
}

body {
  background-color: #fff;
  border-top: 5px solid #3399cc;
}

html {
  background: #fff;
}

.row {
  border: 0px solid green;
}

input.ng-invalid {
  border: 2px solid red;
}

input.ng-valid {
  border: 2px solid green;
}

.error {
	background-color: #669999;
}


